{%- doc -%}
  Renders the facets actions

  @param {string} results_url - the url to remove the filters
  @param {boolean} is_active - whether the clear all button is active
  @param {number} products_count - the number of products in the results
  @param {string} [form_component] - the form component to use for the clear all button
  @param {boolean} [should_show_clear_all] - whether to show the clear all button
  @param {number} [shadow_opacity] - the opacity of the shadow for the sticky action bar
{%- enddoc -%}

<div
  class="facets__actions{% if is_active %} facets__actions--active{% endif %}"
  style="--color-shadow: rgb(var(--color-foreground-rgb) / {{ shadow_opacity | default: 1.0 }});"
>
  {% if should_show_clear_all %}
    <facet-remove-component
      data-url="{{ results_url }}"
    >
      <button
        type="button"
        class="button button-secondary facets__clear-all{% if is_active %} active{% endif %}"
        ref="clearButton"
        {% if form_component != blank %}
          on:click="/removeFilter?form={{ form_component }}"
          on:keydown="/removeFilter?form={{ form_component }}"
        {% else %}
          on:click="/removeFilter?form="
          on:keydown="/removeFilter?form="
        {% endif %}
      >
        {{- 'actions.clear_all' | t -}}
      </button>
    </facet-remove-component>
  {% endif %}

  {% if products_count > 0 %}
    <button
      class="button button-primary facets__see-results"
      type="button"
      on:click="dialog-component/closeDialog"
    >
      <span class="wb-facets-see-results-icon" aria-hidden="true">
         {% comment %} wb03 add 絞り込みアイコン追加 {% endcomment %}
        <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M4.03376 0.672491C5.36108 0.122816 6.83808 0.0503291 8.21284 0.467414C9.58763 0.884526 10.7755 1.76553 11.5736 2.96009C12.3716 4.1546 12.7306 5.58898 12.5897 7.01863C12.4489 8.44823 11.8167 9.78487 10.8009 10.8006C10.5363 11.0652 10.1075 11.0652 9.84293 10.8006C9.57839 10.5361 9.57836 10.1073 9.84293 9.84273C10.6371 9.04859 11.1313 8.00335 11.2415 6.88566C11.3516 5.76802 11.0708 4.64675 10.4469 3.71292C9.82296 2.779 8.89405 2.09014 7.81921 1.76403C6.74454 1.43804 5.59002 1.4945 4.55242 1.92412C3.51467 2.35388 2.65801 3.13057 2.12846 4.12109C1.59892 5.11161 1.42911 6.25507 1.64817 7.35667C1.86723 8.45826 2.46166 9.44967 3.32986 10.1623C4.19803 10.8748 5.28626 11.2643 6.40943 11.2644L6.57019 11.2617C6.94544 11.2494 7.31847 11.1944 7.68161 11.0977L7.8556 11.7526L8.03025 12.4069C7.50171 12.5477 6.95706 12.6189 6.41009 12.6192H6.40943C4.97275 12.6191 3.58033 12.1209 2.46983 11.2095C1.35944 10.298 0.599258 9.02958 0.319088 7.62063C0.0389678 6.21166 0.256388 4.74893 0.933679 3.48204C1.61102 2.21521 2.70649 1.22215 4.03376 0.672491ZM7.68161 11.0977C8.04307 11.0015 8.41424 11.2165 8.51055 11.5779C8.60684 11.9394 8.39174 12.3105 8.03025 12.4069L7.68161 11.0977Z" fill="white"/>
        <path d="M7.68161 11.0977C7.31847 11.1944 6.94544 11.2494 6.57019 11.2617L6.40943 11.2644C5.28626 11.2643 4.19803 10.8748 3.32986 10.1623C2.46166 9.44968 1.86723 8.45826 1.64817 7.35667C1.42911 6.25507 1.59892 5.11161 2.12846 4.12109C2.65801 3.13057 3.51467 2.35388 4.55242 1.92412C5.59002 1.4945 6.74455 1.43804 7.81921 1.76403C8.89405 2.09014 9.82296 2.77899 10.4469 3.71292C11.0708 4.64675 11.3516 5.76802 11.2415 6.88566C11.1313 8.00335 10.6371 9.04859 9.84293 9.84273C9.57836 10.1073 9.57839 10.5361 9.84293 10.8006C10.1075 11.0652 10.5363 11.0652 10.8009 10.8006C11.8167 9.78487 12.4489 8.44823 12.5897 7.01863C12.7306 5.58898 12.3716 4.1546 11.5736 2.96009C10.7755 1.76553 9.58763 0.884526 8.21284 0.467414C6.83808 0.0503291 5.36108 0.122816 4.03376 0.672491C2.70649 1.22215 1.61102 2.21521 0.933679 3.48204C0.256388 4.74893 0.0389678 6.21166 0.319088 7.62063C0.599258 9.02958 1.35944 10.298 2.46983 11.2095C3.58033 12.1209 4.97275 12.6191 6.40943 12.6192H6.41009C6.95706 12.619 7.50171 12.5477 8.03025 12.4069M7.68161 11.0977L7.8556 11.7526L8.03025 12.4069M7.68161 11.0977C8.04307 11.0015 8.41424 11.2165 8.51055 11.5779C8.60684 11.9394 8.39174 12.3105 8.03025 12.4069M7.68161 11.0977L8.03025 12.4069" stroke="white" stroke-width="0.4" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M9.8426 9.84296C10.0906 9.59494 10.4829 9.57964 10.7489 9.79665L10.8005 9.84296L14.0012 13.0435L14.0481 13.0951C14.2651 13.3611 14.2492 13.7534 14.0012 14.0014C13.7532 14.2494 13.3609 14.2653 13.0948 14.0484L13.0432 14.0014L9.8426 10.8009L9.79629 10.7493C9.57927 10.4832 9.59458 10.091 9.8426 9.84296Z" fill="white" stroke="white" stroke-width="0.4" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </span>

      <span class="wb-facets-see-results-text">
        {{- 'actions.see_items' | t: count: products_count -}}
      </span>
    </button>
  {% endif %}
</div>

{% stylesheet %}
  /* Facets - Actions */
  .facets__actions {
    --to-top-gradient-background: linear-gradient(
      to top,
      rgb(var(--color-background-rgb) / var(--opacity-90)),
      rgb(var(--color-background-rgb) / var(--opacity-80)),
      rgb(var(--color-background-rgb) / var(--opacity-40)),
      transparent
    );

    order: 1;
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: var(--gap-sm);
    background-image: var(--to-top-gradient-background);
    z-index: var(--facets-sticky-z-index);
    padding-block-start: var(--padding-xs);
    padding-block-end: var(--padding-md);
    padding-inline: var(--padding-lg);
    margin-top: auto;
  }

  .facets:not(.facets--drawer) .facets__actions {
    @media screen and (min-width: 750px) {
      position: static;
    }
  }

  .facets--vertical .facets__actions {
    padding-inline: 0;
    justify-content: center;
  }

  .facets--horizontal .facets__actions {
    @media screen and (min-width: 750px) {
      order: 0;
      bottom: auto;
      position: static;
      padding: 0;
      z-index: var(--layer-flat);
      flex-shrink: 0;
      align-items: center;
      margin-top: initial;
      background-image: none;
    }
  }

  .facets--horizontal .facets__actions--active::before {
    @media screen and (min-width: 750px) {
      content: '';
      border-inline-start: var(--style-border-width) solid var(--color-border);
      height: var(--font-paragraph--size);
      position: absolute;
    }
  }

  /* Clear button */
  .facets__clear {
    display: none;
  }

  .facets--horizontal .facets__clear {
    @media screen and (min-width: 750px) {
      width: 100%;
      justify-content: flex-end;
      padding: 0 var(--facets-clear-padding) var(--facets-clear-padding) 0;
      cursor: pointer;
    }
  }

  .facets__clear--active {
    @media screen and (min-width: 750px) {
      display: flex;
    }
  }

  .clear-filter:hover {
    text-decoration: underline;
    background-color: transparent;
  }

  /* Clear all button */
  .facets__clear-all {
    display: none;
    cursor: pointer;
    min-width: var(--facets-clear-all-min-width);
    transition: transform var(--animation-values), opacity var(--animation-values);
    opacity: 0;
    transform: translateY(100%);
    flex-grow: 1;
    padding-block: var(--padding-lg);
  }

  .facets:not(.facets--drawer) .facets__clear-all {
    box-shadow: none;
  }

  .facets--horizontal .facets__clear-all {
    @media screen and (min-width: 750px) {
      --facets-clear-all-min-width: var(--minimum-touch-target);
      --button-color: var(--color-primary);

      text-decoration: underline transparent 0.075em;
      text-underline-offset: 0.125em;
      width: auto;
      transform: none;
      opacity: 1;
      height: var(--minimum-touch-target);
      align-items: center;
      flex-grow: 0;
      transition: text-decoration-color var(--animation-speed) var(--animation-easing);
    }
  }

  .facets--horizontal .facets__clear-all:hover {
    @media screen and (min-width: 750px) {
      --button-color: var(--color-primary-hover);
    }
  }

  @starting-style {
    .facets__clear-all {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .facets__clear-all.active {
    transform: translateY(0);
    opacity: 1;
    display: grid;
  }

  .facets--horizontal .facets__clear-all.active {
    @media screen and (min-width: 750px) {
      padding-block: 0;
      padding-inline: var(--facets-form-horizontal-gap);
      background-color: transparent;
      position: static;
      transform: none;
    }
  }

  @starting-style {
    .facets__clear-all.active {
      opacity: 0;
      transform: translateY(100%);
    }

    .facets--horizontal .facets__clear-all.active {
      @media screen and (min-width: 750px) {
        opacity: 1;
        transform: none;
      }
    }
  }

  .facets__see-results {
    min-width: var(--facets-see-results-min-width);
    flex-grow: 1;
    padding-block: var(--padding-lg);
  }

  .facets:not(.facets--drawer) .facets__see-results {
    @media screen and (min-width: 750px) {
      display: none;
    }
  }

  /* wb03 add */
  .facets--drawer .facets__see-results {
    width: 100%;
    border-radius: 8px;
    padding-block: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
  }

  .wb-facets-see-results-icon {
    display: inline-flex;
    width: 15px;
    height: 15px;
  }

{% endstylesheet %}
